{% extends 'base.html.twig' %}

{% block title %}Start404 - Exercices
{% endblock %}

{% block body %}
	<section class="language-introduction mt-16">
		<a href="https://developer.mozilla.org/fr/docs/Web/HTML" class="flex flex-col items-center border shadow md:flex-row md:max-w-xl hover:bg-gray-100 border-gray-700 bg-gray-800 hover:bg-gray-700" target="_blank">
<img class="rounded-lg shadow-md bg-gray-800 border-gray-700 p-4 CSS-logo" src="{{asset('assets/images/CSS-white-logo.png')}}" alt="CSS-logo">

			<div class="flex flex-col justify-between p-4 leading-normal">
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-white">CSS une feuille de
					<span class="text-sky-400">style</span>
				</h5>
				<p class="mb-3 font-normal text-gray-400">Le CSS est un langage qui va appliquer du style a votre page web. Facile à prendre en main et très visuel.
					<br>
					Très facile a mettre en place, il interagit directement avec votre code HTML.

				</p>
			</div>
		</a>
	</section>

	<section class="html-exercices">
		<h1 class="text-3xl font-bold text-center m-4">Nos exercices<span class="text-sky-400">
				CSS</span>
		</h1>


		<div>
			<table class="w-full text-2xl text-left text-gray-400 bg-gray-900">
				<thead class="text-xs uppercase text-gray-400">
					<tr>
						<th scope="col" class="px-6 py-3">
							Exercices
						</th>
						<th scope="col" class="px-6 py-3">
							Objectifs
						</th>
						<th scope="col" class="px-6 py-3">
							Difficulté
						</th>

						<th scope="col" class="px-6 py-3">
							Actions
						</th>
					</tr>
				</thead>
				<tbody class="m-4">
					{% for exercice in exercices %}
						<tr class="m-4 bg-gray-800">
							<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
								<a href="{{ path('css.exercice', {id: exercice.id}) }}">{{exercice.title}}</a>
							</th>

							<td class="px-6 py-4">
								{{exercice.statement}}
							</td>

							<td class="px-6 py-4">
								{{exercice.description}}
							</td>

							<td class="px-6 py-4">
								Supprimer/Ajouter
							</td>

						</tr>
					{% endfor %}
					<tr class="bg-gray-800 m-4">
						<th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
							CSS - Exercice 2
						</th>
						<td class="px-6 py-4">
							Gérer la taille d'un élément HTML
						</td>
						<td class="px-6 py-4">
							Facile
						</td>
						<td class="px-6 py-4">
							Supprimer/Ajouter
						</td>
					</tr>
					<tr class="bg-gray-800">
						<th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
							CSS - Exercice 3
						</th>
						<td class="px-6 py-4">
							Ajouter des liens à votre page web
						</td>
						<td class="px-6 py-4">
							Facile
						</td>
						<td class="px-6 py-4">
							Supprimer/Ajouter
						</td>
					</tr>
				</tbody>
			</table>
		</div>


	</section>
{% endblock %}
