{% extends 'base.html.twig' %}

{% block title %}Start404 - HTML
{% endblock %}

{% block body %}

<section class="mt-24">
<div class="text-center">
 <h1 class="text-3xl font-bold text-center m-4">{{exercice.title}}</h1>

 <h2>Objectif de l'exercice : {{exercice.statement}}</h1>
</div>
</section>


<section class="mt-4">

<p class="codepen" data-height="500" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="{{exercice.codepenslug}}" data-editable="true" data-user="YanisG404" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="{{exercice.codepenexercice}}">
  {{exercice.codepentitle}}</a> by OURIR Yanis (<a href="https://codepen.io/YanisG404">@YanisG404</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>



</section>

<section class="m-8">
<div class="flex justify-between items-center">
  <button id="button-previous" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Précédent</button>
  <a href="{{path('css.exercice')}}" class="hover:text-blue-700">Revenir à la liste des exercices</a>
  <button id="button-next" class="text-white bg-gray-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Suivant</button>
</div>
</section>


{% endblock %}
