{% extends 'base.html.twig' %}

{% block title %}Profil - Start404{% endblock %}

{% block body %}
<section class="mt-18">
  <div class="w-full max-w border shadow bg-gray-800 border-gray-700">
    <div class="flex flex-col items-center pb-10 pt-24">
        {% if profil is not null and profil.imageName is not null %}
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src= "{{ vich_uploader_asset(profil, 'imageFile')}}" alt="profil_picture" >
        {% else %}
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="{{asset('assets/images/user-pic.png')}}" >
        {% endif %}
        <h5 class="mb-1 text-xl font-medium text-white">{{ profil is null ? 'User' : profil.getPseudo() }}</h5>
        <span class="text-l text-gray-400">Score : {{ profil is null ? '0' : profil.getScore() }}</span>
        <span class="text-l text-gray-400">Vos succès :  </span>
        <ul class="flex w-32 justify-center">
            {% if profil is not null %}
                 {% for achievement in profil.getAchievements() %}
                    <i class="{{ achievement.getAchievementIcon() }}" style="color: #ffffff"></i>
                 {% endfor %}
            {% else %}
                <p class="text-sm text-gray-400">Vous n'avez pas encore de succès...</p>
            {% endif %}
        </ul>
        <div class="flex mt-4 space-x-3 md:mt-6">
          <div class="flex mt-4 space-x-3 md:mt-6">
            <a href="{{path('update.profil', {id: app.user.id})}}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Modifier profil</a>
        </div>
        </div>
    </div>
</div>
</section>

<section class="flex flex-col items-center m-4 profil-parameters">
    <div class="py-8 px-4 max-w-screen-xl lg:py-16">
        <div class="bg-gray-800 border border-gray-700 rounded-lg p-8 md:p-12 mb-8">
            <a href="#" class="text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md bg-gray-700 text-blue-400 mb-2">
                <svg class="w-2.5 h-2.5 mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                    <path d="M11 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm8.585 1.189a.994.994 0 0 0-.9-.138l-2.965.983a1 1 0 0 0-.685.949v8a1 1 0 0 0 .675.946l2.965 1.02a1.013 1.013 0 0 0 1.032-.242A1 1 0 0 0 20 12V2a1 1 0 0 0-.415-.811Z"/>
                </svg>
                Tutorial
            </a>
            <h1 class="text-white text-3xl md:text-5xl font-extrabold mb-2">D'autres solutions à l'exercice 1</h1>
            <p class="text-lg font-normal text-gray-400 mb-6">L'exercice 1 en CSS...</p>
            <a href="#" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-900">
                Lire plus
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
        <div class="grid md:grid-cols-2 gap-8">
            <div class="bg-gray-800 border border-gray-700 rounded-lg p-8 md:p-12">
                <a href="#" class="text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md bg-gray-700 text-green-400 mb-2">
                    <svg class="w-2.5 h-2.5 mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                        <path d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z"/>
                    </svg>
                    Design
                </a>
                <h2 class="text-white text-3xl font-extrabold mb-2">Quel IDE utiliser ?</h2>
                <p class="text-lg font-normal text-gray-400 mb-4">Je suis débutant en programmation, quel IDE est pertinent par rapport à mon profil ?</p>
                <a href="#" class="text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Lire plus
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
                </a>
            </div>
            <div class="bg-gray-800 border border-gray-700 rounded-lg p-8 md:p-12">
                <a href="#" class="text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md bg-gray-700 text-purple-400 mb-2">
                    <svg class="w-2.5 h-2.5 mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
                    </svg>
                    Code
                </a>
                <h2 class="text-white text-3xl font-extrabold mb-2">Les meilleurs librairies JavaScript</h2>
                <p class="text-lg font-normal text-gray-400 mb-4">Pour me faciliter la tâche...</p>
                <a href="#" class="text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Lire plus
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>

{% if toDoList is not null %}
    {% if toDoList.id is null and profil is not null %} 
       <div class="md:mx-auto lg:mx-auto max-w-screen lg:py-16 button-tdl">
        <button id="dropdownSearchButton" data-dropdown-toggle="dropdownSearch" data-dropdown-placement="bottom" class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800" type="button">Créer votre liste d'exercice <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
        </button>

<!-- Dropdown menu -->
    <div id="dropdownSearch" class="z-10 hidden rounded-lg shadow w-60 bg-gray-700">
        <div id="form-tdl" class="bg-gray-900 p-4">
                {{form(form)}}
        </div>
    </div> 
    {% elseif toDoList.id is not null %}
        <div class="mx-auto my-8 p-8 w-full rounded-lg text-white text-2xl bg-gray-700">
            <div class="flex justify-between items-center m-4">
            <span class="text-sky-400">{{toDoList.name}}</span>
            <button button id="dropdownSearchButton" data-dropdown-toggle="dropdownSearch" data-dropdown-placement="bottom"><i class="fa-solid fa-ellipsis" style="color: #ffffff;"></i></button>
            </div>

            <div id="dropdownSearch" class="z-10 hidden rounded-lg shadow w-60 bg-gray-700 border-2 border-gray-700">
        <div id="form-tdl" class="bg-gray-900 p-4">
                {{form(form)}}
        </div>
        <a href="{{path('app_delete_tdl', {id: app.user.id})}}" class="flex items-center p-3 text-sm font-medium border-t rounded-b-lg border-gray-600 bg-gray-700 hover:bg-gray-600 text-red-500 hover:underline">
        <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
            <path d="M6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Zm11-3h-6a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2Z"/>
        </svg>
        Supprimer votre liste
        </a>
    </div> 
    
            <ul class="m-4 rounded-lg divide-y divide-gray-700">
            {% if toDoList.idExercice is empty %} 
            <p class="text-xl">Vous n'avez pas encore ajouter d'exercice à votre liste</p>
            {% else %}
                {% for exercice in toDoList.idExercice %}
                <li class="pb-3 sm:pb-4">
                    <div class="flex items-center space-x-4">
                        <div class="flex-shrink-0">
                            <i class="fa-solid fa-code" style="color: #ffffff;"></i>
                        </div>

                        <div class="flex-1 min-w-0 m-4 p-4">
                        <a class="font-medium truncate text-white hover:text-blue-500" href="{{ path('app_repository_exercice', {slugExercice: exercice.category, id: exercice.id}) }}">{{exercice.title}}</a>
                            <p class="truncate text-gray-400 text-xl">
                                {{exercice.statement}}
                            </p>
                        </div>
                        <div class="inline-flex items-center font-semibold">
                            <a href="{{path('app_delete_exercice_tdl', {id_exercice: exercice.id})}}"><i class="fa-solid fa-delete-left cursor-pointer"></i></a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div> 
    {% endif %}
{% endif %}
    

</div>

    
    
</section>

{% endblock %}
